@import "reset";
@import "variables";
html,
body {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  overflow: hidden;
  user-select: none;
}

body {
  overflow: hidden;
}

.hide {
  display: none !important;
}

a {
  color: inherit;
}

h2 {
  font-size: 40px;
  letter-spacing: -1px;
  @media screen and (max-width: 767px) {
    font-size: 26px;
  }
}

.preloader {
  position: fixed;
  height: 100vh;
  left: 4vw;
  top: 0;
  align-items: center;
  display: flex;
  @media screen and (max-width: 1200px) {
    left: 60px;
  }
  @media screen and (max-width: 767px) {
    left: 20px;
  }
  .preloader-counter {
    font-size: 25vw;
    margin-top: -5vw;
    @media screen and (max-width: 1200px) {
      margin-top: -60px;
    }
  }
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  .container {
    //height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @media screen and (max-width: 767px) {
      background: $color02;
      height: 10vh;
      border-bottom: 1px solid #cacaca;
    }
  }
  nav {
    a {
      margin-left: 40px;
      @media screen and (max-width: 767px) {
        margin-left: 20px;
      }
    }
    &.menu {
      position: absolute;
      right: 0;
      height: 10vh;
      top: 0;
      display: flex;
      align-items: center;
    }
  }
  #logo {
    font-size: 17px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
  }
}

main {
  section {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.copyright {
  color: $color03;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  .container {
    // height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .menu {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  .copyright {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.container {
  max-width: 2400px;
  margin: 0 auto;
  border-left: 5vw solid transparent;
  border-right: 5vw solid transparent;
  @media screen and (max-width: 1200px) {
    border-left:60px solid transparent;
    border-right: 60px solid transparent;
  }
  @media screen and (max-width: 767px) {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
  box-sizing: content-box;
}

.dot {
  width: 5vw;
  min-height: 5vw;
  @media screen and (max-width: 1200px) {
    width:60px;
    min-height: 60px;
  }
  height: 80px;
  position: fixed;
  top: 40%;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  .dot-inner {
    background-color: $color04;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transform: scale(0.25);
  }
  .dot-instruction {
    display: flex;
    position: inherit;
    left: 5vw;
    @media screen and (max-width: 1200px) {
      left:60px;
    }
    h2 {
      color: $color03;
      margin-top: -4px;
    }
  }
}