@import "reset";
@import "variables";
html,
body {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  overflow: hidden;
  user-select: none;
}

body {
  overflow: hidden;
}

a {
  color: inherit;
}
header {
  #logo {
    font-size: 17px;
  }

}

main {
  
}

footer {
  
}
