@import "reset";
@import "variables";
html,
body {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  overflow: hidden;
  user-select: none;
}

a {
  color: inherit;
}

h2 {
  font-size: 40px;
  letter-spacing: -1px;
}

.preloader {
  position: fixed;
  height: 100vh;
  left: 4vw;
  top: 0;
  align-items: center;
  display: flex;
  .preloader-counter {
    font-size: 25vw;
    margin-top: -5vw;
  }
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  .container {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav {
    a {
      margin-left: 40px;
    }
  }
  #logo {
    font-size: 17px;
  }
}

main {
  section {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
  }
}

footer {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  .container {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #copyright {
    color: $color03;
  }
}

.container {
  width: 90%;
  max-width: 2400px;
  margin: 0 auto;
}

.dot {
  width: 5vw;
  min-height: 5vw;
  height: 80px;
  position: fixed;
  top: 40%;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  .dot-inner {
    background-color: $color04;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transform: scale(0.25);
  }
}