<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>David Bastian. Chilean Designer & Web Developer.</title>
    <meta name="description" content="I am a Designer & Web Developer from Viña del Mar (Chile), but I am based in New Zealand. I love enjoying Good Art, Conceptualising and Designing simple and clean interfaces.">
    <meta name="keywords" content="design,art direction,creative,product design,interaction design,interfaces design,chile,web,frontend,backend,reactjs,angularjs, photography, typography, iconography, marketing, javascript.">
    <meta name="copyright" content="Copyright © 2018 David Bastian, Chilean Designer & Web Developer." />
    <meta name="author" content="David Bastian Fernandez Izarraulde" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta ng-if="phone" name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />
    <meta ng-if="!phone" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="icon" href="favicon.png">
    <meta name="format-detection" content="telephone=no">
    <!-- apple icon -->
    <meta name="apple-mobile-web-app-title" content="David Bastian">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- windows 8 meta -->
    <meta name="application-name" content="David Bastian" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- open graph meta -->
    <meta property="og:title" content="David Bastian. Chilean Designer & Web Developer">
    <meta property="og:description" content="I am a Designer & Web Developer from Viña del Mar (Chile), but I am based in New Zealand. I love enjoying Good Art, Conceptualising and Designing simple and clean interfaces.">
    <meta property="og:image" content="http://davidbastian.red/social/fb2.jpg">
    <meta property="og:url" content="http://davidbastian.red">
    <meta property="og:site_name" content="David Bastian. Chilean Designer & Web Developer">
    <meta property="fb:app_id" content="966242223397117" />
    <!-- twitter meta -->
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:site" content="http://davidbastian.red" />
    <meta name="twitter:title" content="David Bastian. Chilean Designer & Web Developer" />
    <meta name="twitter:description" content="I am a Designer & Web Developer from Viña del Mar (Chile), but I am based in New Zealand. I love enjoying Good Art, Conceptualising and Designing simple and clean interfaces."
    />
    <meta name="twitter:image" content="http://davidbastian.red/social/tw2.jpg" />
    <meta name="twitter:url" content="http://davidbastian.red/" />
    <meta name="google-site-verification" content="" />
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <script src="bundle.js" charset="utf-8"></script>
</body>

</html>