#home {
  display: flex;
  .home-wrap {
    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;

  
    @media screen and (max-width: 1200px) {
      padding-left: 60px;
      padding-right: 60px;
    }

    @media screen and (max-width: 767px) {
      padding-left: 60px;
      padding-right: 60px;
    }

    padding-top: 18vh;
    position: relative;
    a {
      height: 53vh; // min-height: 500px;
      @media screen and (max-width: 767px) {
        height: 43vh;
      }
      margin-right: 10px;
      display: block;
      &:last-child {
        margin-right: 0;
      }
      p {
        padding-top: 30px;
        span {
          color:#afafaf;
          display: block;
          margin-left: 0px;
          margin-top: 7px;
        }
        @media screen and (max-width: 767px) {
          line-height: 1.1em;
          span{
            margin-top: 5px;
          }
        }
      }
      img {
        display: block;
        height: 100%;
      }
    }
  }
}