@import "../../../common/styles/_variables";

#home {
    display: flex;

    @media screen and (max-width: 765px) {
       overflow-y: scroll;
       display: block;
     }

    


    .home-wrap {
        display: flex;
        padding-top: 18vh;
        position: relative;

        .container {
            display: flex;
            max-width: 100%;
        }


        @media screen and (max-width: 765px) {
            border: 0;
            flex-direction: column;
            padding-bottom: 120px;
            display: block;
            height: auto;

            .container {
                border: 0;
                flex-direction: column;
                padding-bottom: 120px;
                display: block;
                height: auto;
            }

            a,.link {
                padding-right: 0;
                padding-bottom: 10px;
                height: auto;
                width: 100%;
                padding: 4vw;
                box-sizing: border-box;

                p {
                    padding-top: 10px;
                    

                    >span{

                        &:last-child {
                            font-size: 11px;
                            display: block;
                            padding-top: 5px;
                            padding-bottom: 4vh;
                            color: $color03;

                        }
                    }

                    >i{

                        display: none;
                    }
                }

                img {
                    width: 100%;
                }

                &::last-child {
                    padding-bottom: 120px;
                }
            }
        }
       
    }



    a,.link {
        height: 53vh;
        margin-right: 10px;
        display: block;
      
        i {
            display: none;
        }
        img {
            height: 100%;
            display: block;
        }
        p {
            padding-top: 30px;


            span {
                &:last-child {
                    display: block;
                    color:$color03;
                    padding-top: 7px;
                }
            }
        }

        
    }


    @media screen and (max-width: 765px) {
        a {
          height: 38vh;
        }
        #logo {
          width: 60px;
        }
      }
}