@import "../../../common/styles/_variables";

#single {
    @media screen and (max-width: 765px) {
        overflow-y: scroll;

        .single-wrap {
            padding: 25vh 0;
            padding-bottom: 120px;
        }
       
    }


    .container {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 765px) {

            flex-direction: column;

            .single-description {
                height: auto;
            }

            .single-title {
                padding-top: 0vh;
                padding-bottom: 5vw;
                h2 {
                    font-size: 24px;
                    line-height: 1.4em;

                    small {
                        font-size: 17px;
                        margin-bottom: 0;
                    }
                }
            }

            .single-info {
                padding-bottom: 5vh;
            }

            .single-media {
                max-width: 100%;

                .single-media-inner{
                    padding-top: 0;
                }
            }
        }

    }

    p {
        line-height: 1.6em;
    }

    .single-info {
        padding-bottom: 22vh;
    }

    .single-title {
        padding-top: 30vh;
    }


    .single-description {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 380px;

    }

    .single-media {
        max-width: 50vw;
        width: 100%;

        .single-media-inner {
            padding-top: 18vh;

            img,
            video {
                width: 100%;
                height: auto;
                display: block;
                margin-bottom: 10px;
            }
        }
    }

    .single-credits {
        margin-top: 20px;

        div,
        a {
            display: block;
            border-bottom: 1px solid $color05;
            padding: 8px 0;
            line-height: 1.6em;
        }

    }

}