@import "../../../common/styles/_variables";

#about {
    .about-wrap {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5vw;
        @media screen and (max-width: 1200px) {
            padding-left:60px;
        }
        @media screen and (max-width: 767px) {
            padding-left: 20px;
            padding-right: 20px;
        }
        max-width: 850px;
        h2 {
            line-height: 60px;
            
            @media screen and (max-width: 767px) {
                font-size: 26px;
                line-height: 36px;
            }
        }
        .social {
            display: flex;
            margin-top: 50px;
            opacity: 0;

            @media screen and (max-width: 767px) {
                margin-top: 15px;
                flex-direction: column;
                p {
                    display: none;
                }
            }

            a {
                margin-left: 21px;
                border-bottom: 1px solid;
                padding-bottom: 5px;
                

                @media screen and (max-width: 767px) {
                    padding: 15px 0;
                    margin: 0;
                    border-bottom: 1px dotted $color03;
                }
            }
        }
        .char {
            opacity: 0;
        }
    }
}